[submodule "functions/source/EksClusterResource"]
	path = functions/source/EksClusterResource
	url = https://github.com/aws-quickstart/quickstart-amazon-eks-cluster-resource-provider.git
[submodule "functions/source/HelmReleaseResource"]
	path = functions/source/HelmReleaseResource
	url = https://github.com/aws-quickstart/quickstart-helm-resource-provider.git
[submodule "submodules/quickstart-eks-snyk"]
	path = submodules/quickstart-eks-snyk
	url = https://github.com/aws-quickstart/quickstart-eks-snyk.git
[submodule "submodules/quickstart-eks-newrelic-infrastructure"]
	path = submodules/quickstart-eks-newrelic-infrastructure
	url = https://github.com/aws-quickstart/quickstart-eks-newrelic-infrastructure.git
